<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gabut Free Url Shorten">
    <link rel="stylesheet" href="static/css/landing.min.css">
    <title>Document</title>
</head>
<body class="bg-w bg-slate-100">
    <header class="flex flex-col justify-center items-center text-center p-8 sm:w-3/4 m-auto lg:flex-row lg:p-4 lg:m-0 lg:h-screen lg:w-full">
        <div class="lg:w-1/2 lg:mr-10">
        <h1 class="text-5xl font-bold mt-20 text-violet-500 sm:text-6xl lg:mt-0">
            Gabut Project
        </h1>
        <strong class="text-md sm:text-2xl sm:mt-2">Link Pendek Tidak Merubah Hasil</strong>
        <p class="text-sm sm:text-xl">Ubah Link Pendekmu Menjadi Mudah dikenang.</p>
        </div>
        <form class="flex flex-col w-full my-8 lg:w-1/2 lg:ml-10 lg:px-12" action="" method="post">
            <strong>No Need Password to Join</strong>
            <input class="border-2 border-violet-300 rounded py-3 px-6 text-center focus:outline-violet-500"  type="text" placeholder="Masukan Email">
            <button class="bg-violet-500 py-3 px-6 text-white rounded mt-2">Masuk/Daftar</button>
        </form>
    </header>
    <div class="bg-violet-500 w-full text-center text-white py-4 text-2xl font-semibold">WHY?</div>
    <article class="flex flex-col justify-center items-center text-center p-8 sm:w-3/4 m-auto lg:flex-row lg:flex-wrap">
        <div class="mb-4 lg:w-1/2">
            <img class="m-auto"  src="static/images/icon-like.png" width="100" height="100" alt="icon-like">
            <strong class="text-2xl">Easy</strong>
            <p>Gabut mudah dan cepat, masukkan tautan panjang untuk mendapatkan tautan yang singkat</p>
        </div>
        <div class="mb-4 lg:w-1/2">
            <img class="m-auto" src="static/images/icon-url.png" width="100" height="100" alt="icon-url">
            <strong class="text-2xl">Shortened</strong>
            <p>Gunakan tautan apa pun, berapa pun ukurannya, Gabut selalu lebih pendek</p>
        </div>
        <div class="mb-4 lg:w-1/2">
            <img class="m-auto" src="static/images/icon-secure.png" width="100" height="100" alt="icon-secure">
            <strong class="text-2xl">Secure</strong>
            <p>Cepat dan aman, layanan kami memiliki protokol HTTPS dan enkripsi data</p>
        </div>
        <div class="mb-4 lg:w-1/2">
            <img class="m-auto" src="static/images/icon-statistics.png" width="100" height="100" alt="icon-statistics">
            <strong class="text-2xl">Statistics</strong>
            <p>Periksa jumlah klik yang diterima url singkat Anda</p>
        </div>
        <div class="mb-4 lg:w-1/2">
            <img class="m-auto" src="static/images/icon-unique.png" width="100" height="100" alt="icon-unique">
            <strong class="text-2xl">Reliable</strong>
            <p>Semua tautan yang mencoba menyebarkan spam, virus, dan malware akan dihapus</p>
        </div>
        <div class="mb-4 lg:w-1/2">
            <img class="m-auto" src="static/images/icon-responsive.png" width="100" height="100" alt="icon-responsive">
            <strong class="text-2xl">Devices</strong>
            <p>Kompatibel dengan smartphone, tablet, dan desktop</p>
        </div>
    </article>
    <footer class="w-full bg-violet-500 text-white p-8 text-center">
        <strong>© 2022 Gabut Project to shorten a long link</strong>
        <ul class="mt-2 underline flex justify-center flex-wrap">
            <li class="mx-2"><a href="#">Terms of Service</a></li>
            <li class="mx-2"><a href="#">Privacy</a></li>
            <li class="mx-2"><a href="#">Contact</a></li>
            <li class="mx-2"><a href="#">Report Malicious URL</a></li>
        </ul>
    </footer>
</body>
</html>